{% extends 'base.html' %}


{% block content %}
{% include 'includes/navbar.html' with active_tab='free_list' %}
<div style="margin-top: 100px; text-align: center;">
    <form method="get" class="col-2 offset-5">
        <div class="form-group">
            <label for="Day">Day</label>
            <select id="Day" class="form-control" name="day">
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <br>
    {% if list %}
    <h1>{{ day }}</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">SEM</th>
                <th scope="col">7:30-8:30</th>
                <th scope="col">8:30-9:30</th>
                <th scope="col">9:30-10:30</th>
                <th scope="col">10:30-11:30</th>
                <th scope="col">11:30-12:30</th>
                <th scope="col">12:30-1:30</th>
                <th scope="col">1:30-2:30</th>
                <th scope="col">2:30-3:30</th>
            </tr>
        </thead>
        <tbody>

            {% for i in list %}
            <tr>
                <th scope="row">{{ i.semester }}</th>
                <td>
                    <span style="color: brown;">{{ i.period1.room }}</span> <br>
                    <span style="color: red;">{{ i.period1.subject.name }}</span> <br>
                    <span style="color: blue;">{{ i.period1.faculty }}</span>
                </td>
                <td>
                    <span style="color: brown;">{{ i.period2.room }}</span> <br>
                    <span style="color: red;">{{ i.period2.subject.name }}</span> <br>
                    <span style="color: blue;">{{ i.period2.faculty }}</span>
                </td>
                <td>
                    <span style="color: brown;">{{ i.period3.room }}</span> <br>
                    <span style="color: red;">{{ i.period3.subject.name }}</span> <br>
                    <span style="color: blue;">{{ i.period3.faculty }}</span>
                </td>
                <td>
                    <span style="color: brown;">{{ i.period4.room }}</span> <br>
                    <span style="color: red;">{{ i.period4.subject.name }}</span> <br>
                    <span style="color: blue;">{{ i.period4.faculty }}</span>
                </td>
                <td>
                    <span style="color: brown;">{{ i.period5.room }}</span> <br>
                    <span style="color: red;">{{ i.period5.subject.name }}</span> <br>
                    <span style="color: blue;">{{ i.period5.faculty }}</span>
                </td>
                <td>
                    <span style="color: brown;">{{ i.period6.room }}</span> <br>
                    <span style="color: red;">{{ i.period6.subject.name }}</span> <br>
                    <span style="color: blue;">{{ i.period6.faculty }}</span>
                </td>
                <td>
                    <span style="color: brown;">{{ i.period7.room }}</span> <br>
                    <span style="color: red;">{{ i.period7.subject.name }}</span> <br>
                    <span style="color: blue;">{{ i.period7.faculty }}</span>
                </td>
                <td>
                    <span style="color: brown;">{{ i.period8.room }}</span> <br>
                    <span style="color: red;">{{ i.period8.subject.name }}</span> <br>
                    <span style="color: blue;">{{ i.period8.faculty }}</span>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endif %}

</div>
{% endblock content %}